*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar{
    background-color: grey;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: space-evenly;
    flex-grow: 1;
}

.Middle-Logo{
    align-content: flex-start;
}