* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {

    background-color: grey;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.list {
    width: 315px;
}

a {
    text-decoration: none;
    color: black;
    margin: 1em;
}

.Middle-Logo {
    margin: 0 auto;
    font-family: Verdana, serif;
    /*font-size: 3em;*/
}

.image-links {
    display: flex;
    align-content: space-between;
    width: 315px;
}

.image-links p {
    margin: 1em;
}