body, html {
    height: 100%;
    width: 50%;
    padding: 1em;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}

section {
    outline-style: none;
    outline-width: 2px;
    text-align: center;
}

div1 {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 5px;
    text-align: center;
    color: saddlebrown;
    border-radius: 10px;
}

div2 {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 5px;
    text-align: center;
    color: mediumpurple;
    border-radius: 10px;
}

div3 {
    outline-style: solid;
    outline-width: 2px;
    text-align: center;
    outline-offset: 5px;
    color: peru;
    border-radius: 10px;
}

div4 {
    outline-style: solid;
    outline-width: 2px;
    text-align: center;
    outline-offset: 5px;
    color: saddlebrown;
    border-radius: 10px;
}


